In [2]:
import pandas as pd

corr_diff = pd.read_csv('Evaluation_Results/corr_diff.csv')
corr_diff_wide = corr_diff.pivot(index='Dataset', columns='Model', values='Pairwise Corr Diff')
avg_row = corr_diff_wide.mean(axis=0)
corr_diff_wide.loc['Average'] = avg_row
corr_diff_wide = corr_diff_wide.round(3)
corr_diff_wide.to_csv('Evaluation_Results/Final_Results/corr_diff_wide.csv')
corr_diff_wide

Model    copula_gan  ctgan     ds  gaussian_copula  synthpop   tvae
Dataset
1             0.149  0.148  0.155            0.099     0.031  0.129
2             0.046  0.047  0.048            0.035     0.023  0.172
3             0.237  0.239  0.252            0.190     0.094  0.114
4             0.093  0.098  0.050            0.027     0.008  0.036
5             0.082  0.081  0.120            0.073     0.042  0.093
Average       0.121  0.123  0.125            0.085     0.039  0.109

In [3]:
jsd = pd.read_csv('Evaluation_Results/jsd.csv')
jsd_wide = jsd.pivot(index='Dataset', columns='Model', values='JSD Diff')
avg_row = jsd_wide.mean(axis=0)
jsd_wide.loc['Average'] = avg_row
jsd_wide = jsd_wide.round(3)
jsd_wide.to_csv('Evaluation_Results/Final_Results/jsd_wide.csv')
jsd_wide

Model    copula_gan  ctgan     ds  gaussian_copula  synthpop   tvae
Dataset
1             0.040  0.050  0.086            0.035     0.001  0.138
2             0.002  0.027  0.020            0.000     0.000  0.071
3             0.167  0.144  0.196            0.170     0.001  0.168
4             0.246  0.231  0.288            0.296     0.081  0.164
5             0.011  0.012  0.090            0.004     0.000  0.146
Average       0.093  0.093  0.136            0.101     0.017  0.137

In [4]:
wd = pd.read_csv('Evaluation_Results/wd.csv')
wd_wide = wd.pivot(index='Dataset', columns='Model', values='WD Diff')
avg_row = wd_wide.mean(axis=0)
wd_wide.loc['Average'] = avg_row
wd_wide = wd_wide.round(3)
wd_wide.to_csv('Evaluation_Results/Final_Results/wd_wide.csv')
wd_wide

Model    copula_gan  ctgan     ds  gaussian_copula  synthpop   tvae
Dataset
1             0.019  0.028  0.057            0.012     0.004  0.111
2             0.024  0.020  0.073            0.008     0.003  0.132
3             0.031  0.029  0.096            0.024     0.008  0.067
4             0.079  0.078  0.006            0.015     0.001  0.013
5             0.050  0.046  0.139            0.010     0.007  0.234
Average       0.041  0.040  0.074            0.014     0.004  0.112

In [5]:
dcr = pd.read_csv('Evaluation_Results/dcr.csv')
dcr_wide = dcr.pivot(index='Dataset', columns='Model', values='Avg DCR')
avg_row = dcr_wide.mean(axis=0)
dcr_wide.loc['Average'] = avg_row
dcr_wide = dcr_wide.round(3)
dcr_wide.to_csv('Evaluation_Results/Final_Results/dcr_wide.csv')
dcr_wide

Model    copula_gan  ctgan     ds  gaussian_copula  synthpop   tvae
Dataset
1             0.379  0.386  0.412            0.381     0.372  0.364
2             0.395  0.419  0.426            0.399     0.398  0.365
3             0.273  0.260  0.395            0.250     0.251  0.208
4             0.266  0.263  0.192            0.193     0.185  0.177
5             0.310  0.308  0.426            0.302     0.300  0.350
Average       0.324  0.327  0.370            0.305     0.301  0.293

In [6]:
nndr = pd.read_csv('Evaluation_Results/nndr.csv')
nndr_wide = nndr.pivot(index='Dataset', columns='Model', values='Avg NNDR')
avg_row = nndr_wide.mean(axis=0)
nndr_wide.loc['Average'] = avg_row
nndr_wide = nndr_wide.round(3)
nndr_wide.to_csv('Evaluation_Results/Final_Results/nndr_wide.csv')
nndr_wide

Model    copula_gan  ctgan     ds  gaussian_copula  synthpop   tvae
Dataset
1             0.887  0.888  0.901            0.877     0.733  0.834
2             0.178  0.328  0.351            0.198     0.114  0.304
3             0.926  0.921  0.938            0.892     0.792  0.793
4             0.748  0.783  0.910            0.913     0.417  0.704
5             0.908  0.911  0.939            0.902     0.868  0.924
Average       0.729  0.766  0.808            0.757     0.585  0.712

In [13]:
rf = pd.read_csv('Evaluation_Results/RF_Results.csv')
rf_wide = rf.pivot(index="Dataset", columns="Model", values=["Accuracy Difference", "F1 Score Difference", "ROC AUC Difference"])
avg_row = rf_wide.mean(axis=0)
rf_wide.loc['Average'] = avg_row
rf_wide.to_csv('Evaluation_Results/Final_Results/rf_wide.csv')
rf_wide

        Accuracy Difference                                                \
Model            copula_gan  ctgan     ds gaussian_copula synthpop   tvae
Dataset
1                      0.42  0.500  0.460            0.37    0.070  0.190
2                     -0.07  0.430  0.040           -0.06   -0.040 -0.030
3                      0.00  0.000  0.330            0.00   -0.090 -0.040
4                      0.07  0.070  0.040            0.10    0.010  0.060
5                      0.18  0.240  0.140            0.04    0.030  0.000
Average                0.12  0.248  0.202            0.09   -0.004  0.036

        F1 Score Difference                                                \
Model            copula_gan  ctgan     ds gaussian_copula synthpop   tvae
Dataset
1                     0.440  0.550  0.470           0.420     0.07  0.240
2                     0.010  0.500  0.050           0.010     0.01 -0.020
3                     0.050  0.050  0.250           0.050    -0.10 -0.040
4                     0.080  0.070  0.050           0.130     0.01  0.090
5                     0.150  0.190  0.140           0.120     0.11  0.040
Average               0.146  0.272  0.192           0.146     0.02  0.062

        ROC AUC Difference
Model           copula_gan  ctgan     ds gaussian_copula synthpop   tvae
Dataset
1                    0.400  0.430  0.490            0.40    0.050  0.100
2                    0.060  0.020  0.040           -0.04   -0.050 -0.030
3                    0.050 -0.030  0.340            0.04   -0.030  0.070
4                    0.120  0.090  0.070            0.15    0.030  0.120
5                    0.210  0.210  0.140            0.10   -0.020  0.050
Average              0.168  0.144  0.216            0.13   -0.004  0.062

In [14]:
lr = pd.read_csv('Evaluation_Results/LR_Results.csv')
lr_wide = lr.pivot(index="Dataset", columns="Model", values=["Accuracy Difference", "F1 Score Difference", "ROC AUC Difference"])
avg_row = lr_wide.mean(axis=0)
lr_wide.loc['Average'] = avg_row
lr_wide.to_csv('Evaluation_Results/Final_Results/lr_wide.csv')
lr_wide

        Accuracy Difference                                               \
Model            copula_gan  ctgan    ds gaussian_copula synthpop   tvae
Dataset
1                     0.300  0.360  0.36           0.360    0.040  0.200
2                    -0.010  0.500 -0.01          -0.010    0.000  0.010
3                    -0.080 -0.080  0.29          -0.080   -0.080 -0.170
4                     0.000 -0.020 -0.01           0.040   -0.020  0.000
5                     0.100  0.230  0.12           0.080    0.090  0.090
Average               0.062  0.198  0.15           0.078    0.006  0.026

        F1 Score Difference                                                \
Model            copula_gan  ctgan     ds gaussian_copula synthpop   tvae
Dataset
1                     0.460  0.470  0.410           0.440    0.050  0.230
2                     0.000  0.500  0.000           0.000    0.000 -0.050
3                     0.000  0.000  0.260           0.000   -0.080 -0.150
4                     0.150 -0.010  0.020           0.190   -0.010  0.080
5                     0.180  0.210  0.150           0.190    0.170  0.110
Average               0.158  0.234  0.168           0.164    0.026  0.044

        ROC AUC Difference
Model           copula_gan ctgan     ds gaussian_copula synthpop   tvae
Dataset
1                    0.380  0.53  0.350           0.350    0.000  0.170
2                    0.130  0.19  0.170           0.010    0.010  0.010
3                    0.100 -0.17  0.060           0.020   -0.050 -0.170
4                    0.010  0.00  0.000           0.000   -0.020  0.000
5                    0.160  0.25  0.190           0.100    0.040  0.030
Average              0.156  0.16  0.154           0.096   -0.004  0.008

In [15]:
mlp = pd.read_csv('Evaluation_Results/MLP_Results.csv')
mlp_wide = mlp.pivot(index="Dataset", columns="Model", values=["Accuracy Difference", "F1 Score Difference", "ROC AUC Difference"])
avg_row = mlp_wide.mean(axis=0)
mlp_wide.loc['Average'] = avg_row
mlp_wide.to_csv('Evaluation_Results/Final_Results/mlp_wide.csv')
mlp_wide

        Accuracy Difference                                                \
Model            copula_gan  ctgan     ds gaussian_copula synthpop   tvae
Dataset
1                     0.280  0.380  0.330           0.310   -0.030  0.050
2                    -0.020  0.490  0.010          -0.020   -0.010  0.010
3                     0.000  0.000  0.370           0.000    0.000 -0.040
4                     0.020  0.000  0.000           0.000    0.000  0.360
5                     0.090  0.250  0.250           0.070    0.020  0.050
Average               0.074  0.224  0.192           0.072   -0.004  0.086

        F1 Score Difference                                                \
Model            copula_gan  ctgan     ds gaussian_copula synthpop   tvae
Dataset
1                     0.340  0.440  0.370            0.39   -0.010  0.110
2                     0.000  0.500  0.010            0.00   -0.010 -0.030
3                     0.000  0.000  0.240           -0.05   -0.080 -0.090
4                    -0.060  0.030  0.030            0.03    0.030  0.280
5                     0.050  0.200  0.180            0.13    0.010  0.070
Average               0.066  0.234  0.166            0.10   -0.012  0.068

        ROC AUC Difference
Model           copula_gan  ctgan     ds gaussian_copula synthpop   tvae
Dataset
1                    0.390  0.400  0.280           0.460    0.000  0.120
2                    0.110  0.130  0.120          -0.010    0.000 -0.010
3                   -0.140 -0.110 -0.110          -0.170   -0.200 -0.110
4                    0.000  0.010  0.010           0.010    0.010  0.020
5                    0.100  0.180  0.190           0.130    0.030  0.050
Average              0.092  0.122  0.098           0.084   -0.032  0.014